

.custom-auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .system-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .custom-auth-form {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 400px; 
    background-color: #fff; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    }
  
  .form-header-container {
    text-align: center;
  }
  
  .roger-text {
    font-size: 18px;
    font-weight: bold;
  }
  
  .institution-name h6 {
    margin: 10px 0;
  }
  
  hr {
    margin-top: 10px;
    border: 0;
    border-top: 1px solid black;
  }

  .auth-subtitle {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
  }

  .forgot-key-link {
    font-size: 14px;
    text-align: center;
    color: #007bff;
    margin-bottom: 20px;
    cursor: pointer;
  }
  
  .forgot-key-link:hover {
    text-decoration: underline;
  }
  
  
  .otp-input-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;

  }
  
  .otp-input {
    width: 18%;
    padding: 8px;
    font-size: 18px;
    text-align: center;
    margin: 5px 0;
    border: 1px solid black;
    border-radius: 4px;
  }
  
  .custom-button-auth {
    width: 120px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0; 
    margin: 0 auto; 
    font-size: 12px;
    background-color: #4F64AD;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .custom-button-auth:hover {
    background-color: #0056b3;
  }
  