.custom-login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  background-color: #f7f7f7; 
}

.system-title {
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

.custom-login-form {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 400px; /* Adjust width as needed */
  background-color: #fff; /* Optional background color */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

.form-header {
  margin-bottom: 20px;
  text-align: center; /* Center align the header content */
}

.roger-text {
  font-weight: bold;
  font-size: 30px;
}

.institution-name {
  margin-top: 5px;
}

.institution-name h6 {
  margin: 0;
  font-size: 14px;
  font-weight: normal;
}

.custom-input {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  width: 100%;
}

.forgot-password {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 16px;
}

.forgot-password-link {
  font-size: 12px;
  color: #007bff;
  cursor: pointer;
}

.custom-button {
  width: 120px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0; /* Reset padding */
  margin: 0 auto; /* Center the button */
  font-size: 12px; /* Adjust font size to fit the button */
  background-color: #4F64AD;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #0056b3;
}
