.team-page {
  text-align: center;
  position: relative;
}

.back-arrow {
  position: absolute;
  top: 20px;
  left: 20px;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  padding: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}


.content {
  display: inline-block;
  width: 100%;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  height: 1px;
  width: 50px;
  background-color: grey;
  margin: 0 10px;
}

.team-members {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 40px;
}

.team-member {
  margin: 0 20px;
}

.name {
  font-weight: bold;
  font-size: 18px;
}

.position {
  font-size: 14px;
  color: grey;
}

.separator {
  margin: 20px 0;
}

.collaborators-section {
  text-align: center;
  margin-top: 20px;
}

.collab-text {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 10px;
}

.company-logos {
  display: flex;
  justify-content: center;
  gap: 70px;
  margin-top: 30px;
}

.company-logo {
  width: 100px;
  height: auto;
}


.geo-logo{
  width: 268px;
  height: 50px;
  margin-top: 20px;
}

.dristhi-logo{
 width: 133px;
  height: 106px;
}

.livinart-logo{
  height: 106px;
  width: 106px;
}


.geo-logo{
  width: 268px;
  height: 50px;
  margin-top: 20px;
}

.dristhi-logo{
 width: 133px;
  height: 106px;
}

.livinart-logo{
  height: 106px;
  width: 106px;
}
